{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Steam Playtime</title>

{% endblock %}

{% block content %}
	<h2 class="center">So, uh, what's the point?</h2>
	<p>Years of great Steam Sales have resulted in many of us having huge Steam libraries, full of games we have never played. Every sale we tell ourselves that we'll limit the amount we spend on this year's sale. This time we'll be strong. But when Random Game #325 goes on sale for $2.00 - $5.00, we throw our money at the monitor without a second thought.</p>
	<p>I was curious how many hours it would actually take to complete all of the games in my Steam Library. Thus, the idea for this site was born.</p>
	<p>It's really just a fun gimmick, but hopefully it will be one of two things for people:</p>
	<ul>
		<li>When people see how many hours of gameplay they already have, it will perhaps help them have more self control during the next Steam Sale</li>
		<li>Be merely a fun way to see how much gameplay they could get out of their current Steam Library, and subsequently its worth</li>
	</ul>

	<p>The gameplay times are gathered/estimated from the great site <a href="http://howlongtobeat.com">HowLongToBeat.com</a>.</p>

	<br>

{% endblock content %}


						