{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Steam Playtime</title>

{% endblock %}

{% block content %}

	<!--<div class="profileimg"><a href="{{user.profileurl}}"><img src="{{user.avatar}}"></a></div>-->
	<div><p class="text-warning">{{notice|safe}}</p></div>

	<h2 class="text-center"><a href="{{user.profileurl}}">{{user.username}}'s</a> Steam library would take approx. {{user_hour_info['main_needed']}} hours to complete.</h2>
	<h3 class="text-center">That's {{user_hour_info['days']}} days!</h3>


	<div class="highlight">
		<ul>
			<li>Games Owned: <strong>{{len(user.games)}}</strong></li>
			<li>Account worth: <strong>${{"%.2f" % user.steam_account_worth}}</strong></li>
			<li>Last update - {{user.last_updated.strftime('%d %b %Y %H:%M:%S')}} - <a href="/update?steamid={{user.steam_id}}">Update Now</a></li>
			<li>Hours Played - {{user_hour_info['played']}}</li>
		</ul>
		<h2 class="text-center">Estimated hours to beat all main stories:</h2>
		<h3 class="text-center">{{user_hour_info['main_needed']}} - Progress: {{user_hour_info['per_main']}}%</h3>
		<div class="progress progress-striped">
  			<div class="progress-bar progress-bar-info" style="width: {{user_hour_info['per_main']}}%"></div>
		</div>

		<hr>
		<h2 class="text-center">Estimated hours for total completion:</h2>
		<h3 class="text-center">{{user_hour_info['main_needed']}} Progress: {{user_hour_info['per_complete']}}%</h3>
		<div class="progress progress-striped">
  			<div class="progress-bar progress-bar-info" style="width: {{user_hour_info['per_complete']}}%"></div>
		</div>


	</div>

	<br>


	<form class="text-center">
		{% if mp %}
			<input type="hidden" name="mp" value="n">
			<input type="hidden" name="steamid" value="{{user.steam_id}}">
			<button type="submit" class="btn btn-primary">Filter out multiplayer only games</button>
		{% else %}
			<input type="hidden" name="mp" value="y">
			<input type="hidden" name="steamid" value="{{user.steam_id}}">
			<button type="submit" class="btn btn-primary">Include multiplayer only games</button>
		{% endif %}
	</form>

	<h4 class="text-center">Please remember to take all of these numbers with a grain of salt! They are a rough estimate at best.</h4>

	<h2 class="text-center">{{user.username}}'s Games</h2>
	<h4>See any that have inaccurate or weird values? Check the box to the left of the game name, and then hit the submit button at the bottom of the page to report them.</h4>
	<ul>
		<li>Click the hours below to link to their respective <a href="http://howlongtobeat.com">HowLongToBeat</a> pages.</li>
		<li>Any entry marked with <strong>*</strong> does not have an entry on HowLongToBeat, and we have used the <a href="/stats">current average</a> for that calculation.</li>
	</ul>


	<table class="table table-hover table-condensed">
		<form action="/report" method="post">
		<tr><th></th><th>Game</th><th>Main Story</th><th>Completionist</th><th>{{user.username}}'s Hours</th></tr>
		{% for game in with_stats %}
			<tr>
				<td><input type="checkbox" name="a" value="{{game.appid}}" id="game_checkbox_{{game.appid}}"></td>
				<td><label for="game_checkbox_{{game.appid}}"><a href="{{game.store_url}}">{{game.game_name}}</a></label></td>
				{% if game.main %}
					<td><label for="game_checkbox_{{game.appid}}"><a href="{{game.hltburl}}">{{game.main}}</a></label></td>
				{% else %}
					<td><label for="game_checkbox_{{game.appid}}"><a href="{{game.hltburl}}">{{"%.2f" % (stats.average_main)}}</a><strong>*</strong></label></td>
				{% endif %}
				{% if game.completion %}
					<td><label for="game_checkbox_{{game.appid}}"><a href="{{game.hltburl}}">{{game.completion}}</a></label></td>
				{% else %}
					<td><label for="game_checkbox_{{game.appid}}"><a href="{{game.hltburl}}">{{"%.2f" % (stats.average_completion)}}</a><strong>*</strong></label></td>
				{% endif %}
				<td><label for="game_checkbox_{{game.appid}}">{{hours_and_games[game.appid]}}</label></td>
			</tr>
		{% endfor %}
	</table>

	<br>
	<!--<p class="center" style="font-size: 10px">Advertisement</p>
	<div class="center"><script type="text/javascript"><!--
		google_ad_client = "ca-pub-6366053752979265";
		/* middle page */
		google_ad_slot = "5930164101";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
	<!--
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script></div>-->
		

	
		<h4 class="text-center">We were unable to find a HowLongToBeat.com entry for any of the following games belonging to {{user.username}}.<br>We have used the <a href="/stats">current average</a> instead.</h4>
	<table class="table table-hover table-condensed">
		<tr><th></th><th>Game</th><th>Main Story</th><th>Completionist</th><th>{{user.username}}'s Hours</th></tr>
		{% for game in without_stats %}
			<tr>
				<td><input type="checkbox" name="a" value="{{game.appid}}" id="game_checkbox_{{game.appid}}"></td>
				<td><label for="game_checkbox_{{game.appid}}"><a href="{{game.store_url}}">{{game.game_name}}</a></label></td>
				<td><label for="game_checkbox_{{game.appid}}">{{"%.2f" % (stats.average_main)}}</label></td>
				<td><label for="game_checkbox_{{game.appid}}">{{"%.2f" % (stats.average_completion)}}</label></td>
				<td><label for="game_checkbox_{{game.appid}}">{{hours_and_games[game.appid]}}</label></td>
			</tr>
		{% endfor %}
	</table>
		<div class="text-center">
			<input type="hidden" name="id" value="{{user.steam_id}}">
			<br>
			<button type="submit" class="btn btn-primary">Report inaccurate numbers</button>
		</div>
	</form>
	</div>



{% endblock content %}


						