{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Steam Playtime</title>

{% endblock %}

{% block content %}

	<!--<div class="profileimg"><a href="{{user.profileurl}}"><img src="{{user.avatar}}"></a></div>-->
	<div><p class="text-warning">{{notice|safe}}</p></div>

	<h2 class="text-center"><a href="{{user.profileurl}}">{{user.username}}'s</a> Steam library would take approx. {{user_hour_info['main_needed']}} hours to complete.</h2>
	<h3 class="text-center">That's {{user_hour_info['days']}} days!</h3>


	<div class="highlight">
		<ul>
			<li>Games Owned: <strong>{{len(user.games)}}</strong></li>
			<li>Account worth: <strong>${{"%.2f" % user.steam_account_worth}}</strong></li>
			<li>Last update - {{user.last_updated.strftime('%d %b %Y %H:%M:%S')}} - <a href="/update?steamid={{user.steam_id}}">Update Now</a></li>
			<li>Hours Played - {{user_hour_info['played']}}</li>
		</ul>
		<h2 class="text-center">Estimated hours to beat all main stories:</h2>
		<h3 class="text-center">{{user_hour_info['main_needed']}} - Progress: {{user_hour_info['per_main']}}%</h3>
		<div class="progress progress-striped">
  			<div class="progress-bar progress-bar-info" style="width: {{user_hour_info['per_main']}}%"></div>
		</div>

		<hr>
		<h2 class="text-center">Estimated hours for total completion:</h2>
		<h3 class="text-center">{{user_hour_info['main_needed']}} Progress: {{user_hour_info['per_complete']}}%</h3>
		<div class="progress progress-striped">
  			<div class="progress-bar progress-bar-info" style="width: {{user_hour_info['per_complete']}}%"></div>
		</div>

	<form class="text-center">
		{% if mp %}
			<input type="hidden" name="mp" value="n">
			<input type="hidden" name="steamid" value="{{user.steam_id}}">
			<button type="submit" class="btn btn-primary">Filter out multiplayer only games</button>
		{% else %}
			<input type="hidden" name="mp" value="y">
			<input type="hidden" name="steamid" value="{{user.steam_id}}">
			<button type="submit" class="btn btn-primary">Include multiplayer only games</button>
		{% endif %}
	</form>



	</div>

	<div class="text-center">
		<br>
		<h4>Please remember to take all of these numbers with a grain of salt! They are a rough estimate at best.</h4>
		<br>
		{% if not logged_in[0] %}
			<h3>Is this your account? Sign in with your Steam Account below to manage your backlog, and see a detailed breakdown by game.</h3>
			{{user_logged_url|safe}}
		{% else %}
		<a href="/games?steamid={{user.steam_id}}" class="btn btn-primary">View a detailed breakdown by game</a>
		{% endif %}
	</div>

{% endblock content %}


						