{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Steam Playtime</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   	<script src="scripts/angular-dragdrop/angular-dragdrop.min.js"></script>

   	<style>

   	</style>


{% endblock %}

{% block content %}
	<div ng-app="myApp" ng-controller="gameCtrl" ng-cloak>


         <!--<div class="gameBox">
         		<figure>
         			<img src="http://cdn.steampowered.com/v/gfx/apps/211420/capsule_184x69.jpg"></img>
         			<figcaption>Dark Souls<br>Played: 300 / 40 (est)</figcaption>
         		</figure>
         </div>-->

		<button class="btn btn-primary" ng-click="save()">Save changes</button><br>
		Search: <input ng-model="query"><br>

		<p>{[{query}]}</p>

		<div class="column-wrapper">

		<ul>
       	<div class="column" data-drop="true" ng-model='playing'  jqyoui-droppable="{multiple:true}" ui-sortable>
       		<h3>Playing</h3>
         	<div class="img-draggable gameBox" ng-repeat="item in playing | filter:query" ng-show="item.image_url" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="playing" jqyoui-draggable="{index: {[{$index}]},animate:true}">
         			<figure><img src="{[{item.image_url}]}"></img><figcaption>{[{item.game_name}]}<br>Played: {[{item.played}]} / {[{item.hours}]} (est)</figcaption></figure>
         	</div>
         	<div class="spacer"></div>
        </div>
    	</ul>

    	<ul>
       	<div class="column" data-drop="true" ng-model='beaten'  jqyoui-droppable="{multiple:true}" ui-sortable>
       		<h3>Beaten</h3>
         	<div class="img-draggable gameBox" ng-repeat="item in beaten | filter:query" ng-show="item.image_url" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="beaten" jqyoui-draggable="{index: {[{$index}]},animate:true}">
         			<figure><img src="{[{item.image_url}]}"></img><figcaption>{[{item.game_name}]}<br>Played: {[{item.played}]} / {[{item.hours}]} (est)</figcaption></figure>
         	</div>
         	<div class="spacer"></div>
        </div>
        </ul>

        <ul>
        <div class="column" data-drop="true" ng-model='unbeaten'  jqyoui-droppable="{multiple:true}" ui-sortable>
       		<h3>Backlog</h3>
         	<div class="img-draggable gameBox" ng-repeat="item in unbeaten | filter:query" ng-show="item.image_url" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="unbeaten" jqyoui-draggable="{index: {[{$index}]},animate:true}">
         			<figure><img src="{[{item.image_url}]}"></img><figcaption>{[{item.game_name}]}<br>Played: {[{item.played}]} / {[{item.hours}]} (est)</figcaption></figure>
         	</div>
         	<div class="spacer"></div>
        </div>
        <ul>

        <ul>
       	<div class="column" data-drop="true" ng-model='not_interested'  jqyoui-droppable="{multiple:true}" ui-sortable>
       		<h3>Not Interested</h3>
         	<div class="img-draggable gameBox" ng-repeat="item in not_interested | filter:query" ng-show="item.image_url" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="not_interested" jqyoui-draggable="{index: {[{$index}]},animate:true}">
         			<figure><img src="{[{item.image_url}]}"></img><figcaption>{[{item.game_name}]}<br>Played: {[{item.played}]} / {[{item.hours}]} (est)</figcaption></figure>
         	</div>
         	<div class="spacer"></div>
        </div>
    	</ul>

    	</div>

   	<script>
   		var app = angular.module('myApp', ['ngDragDrop']);
		app.config(function($interpolateProvider) {
  			$interpolateProvider.startSymbol('{[{');
  			$interpolateProvider.endSymbol('}]}');
		});

		app.controller('gameCtrl', function($scope, $timeout, $http) {
			$scope.beaten = {{ beaten|tojson|safe }};
			$scope.unbeaten = {{ unbeaten|tojson|safe }};
			$scope.playing = {{ playing|tojson|safe }};
			$scope.not_interested = {{ not_interested|tojson|safe }};
			var s = {{ s }};
			var steam_id = "{{ user.steam_id }}";

    		$scope.save = function() {
    			url = '/savechanges';

    			var post_data = {
    				beaten: $scope.beaten,
    				unbeaten: $scope.unbeaten,
    				playing: $scope.playing,
    				not_interested: $scope.not_interested,
    				steam_id: steam_id,
    				s: s
    			};

    			console.log(post_data);
    		    $http({
    		        method: 'POST',
    		        url: url,
    		        data: JSON.stringify(post_data)
    		    }).success(function(data) {
    		        console.log(data);
    		    });
    		}

  		});
   	</script>

{% endblock content %}


						